// header section
.header
	background: url("../img/header-bg2.png"), url("../img/header-bg1.png")
	+cover
	&__text
		margin: 50px 0
		p
			color: #FFF
			font-size: 20px
			line-height: 1.5
	&__menu
		ul
			font-size: 0
			li
				display: inline-block
				vertical-align: top
				a
					display: block
					border-bottom: 1px dotted 
					margin-right: 20px
					color: #000
					font-size: 20px
					font-style: italic
					line-height: 1.1
					&:hover
						border-bottom: none
	.title
		margin: -110px 0 0 -120px
	+r(1020)
		background-position-x: 60%
	+r(860)
		background-position-x: 70%
	+r(760)
		.header__text
			margin: 10px 0
			p
				line-height: 1.2
		.title  
			margin: -120px 0 0 0
			width: 90%
			img
				width: 100%
	+r(600)
		.header__text p
			font-size: 16px
	+r(450)
		.title
			margin-top: -110px
	+r(400)
		.header__menu  li:last-child a
			margin-right: 0
	+r(350)
		.header__menu li a
			margin-right: 10px 


