$icons: (0:0)
$icons: map-merge($icons,(awards: (X: -538px, Y:-236px, W: 31px, H: 29px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(awards1: (X: -559px, Y:-295px, W: 11px, H: 8px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bottom-b: (X: -544px, Y:-273px, W: 11px, H: 30px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bottom-w: (X: -529px, Y:-273px, W: 11px, H: 30px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(codedby: (X: -552px, Y:-307px, W: 47px, H: 5px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -499px, Y:-307px, W: 49px, H: 5px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fb: (X: -499px, Y:-316px, W: 9px, H: 19px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(gp: (X: -559px, Y:-273px, W: 19px, H: 18px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(k: (X: 0px, Y:-236px, W: 258px, H: 147px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: 0px, Y:0px, W: 604px, H: 232px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(movie: (X: -573px, Y:-236px, W: 26px, H: 26px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(movie1: (X: -512px, Y:-316px, W: 11px, H: 11px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(r: (X: 0px, Y:-387px, W: 221px, H: 136px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(t: (X: -262px, Y:-236px, W: 233px, H: 138px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(theater: (X: -499px, Y:-236px, W: 35px, H: 33px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(theater1: (X: -527px, Y:-316px, W: 9px, H: 10px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(top-b: (X: -514px, Y:-273px, W: 11px, H: 30px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(top-w: (X: -499px, Y:-273px, W: 11px, H: 30px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(tw: (X: -582px, Y:-273px, W: 19px, H: 16px, TW: 604px, TH: 523px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
  +sprite($i)

.icon-awards
  width: 31px
  height: 29px
  background-image: url('../img/icons.png')
  background-position: -538px -236px
.icon-awards1
  width: 11px
  height: 8px
  background-image: url('../img/icons.png')
  background-position: -559px -295px
.icon-bottom-b
  width: 11px
  height: 30px
  background-image: url('../img/icons.png')
  background-position: -544px -273px
.icon-bottom-w
  width: 11px
  height: 30px
  background-image: url('../img/icons.png')
  background-position: -529px -273px
.icon-codedby
  width: 47px
  height: 5px
  background-image: url('../img/icons.png')
  background-position: -552px -307px
.icon-coderiver
  width: 49px
  height: 5px
  background-image: url('../img/icons.png')
  background-position: -499px -307px
.icon-fb
  width: 9px
  height: 19px
  background-image: url('../img/icons.png')
  background-position: -499px -316px
.icon-gp
  width: 19px
  height: 18px
  background-image: url('../img/icons.png')
  background-position: -559px -273px
.icon-k
  width: 258px
  height: 147px
  background-image: url('../img/icons.png')
  background-position: 0px -236px
.icon-logo
  width: 604px
  height: 232px
  background-image: url('../img/icons.png')
  background-position: 0px 0px
.icon-movie
  width: 26px
  height: 26px
  background-image: url('../img/icons.png')
  background-position: -573px -236px
.icon-movie1
  width: 11px
  height: 11px
  background-image: url('../img/icons.png')
  background-position: -512px -316px
.icon-r
  width: 221px
  height: 136px
  background-image: url('../img/icons.png')
  background-position: 0px -387px
.icon-t
  width: 233px
  height: 138px
  background-image: url('../img/icons.png')
  background-position: -262px -236px
.icon-theater
  width: 35px
  height: 33px
  background-image: url('../img/icons.png')
  background-position: -499px -236px
.icon-theater1
  width: 9px
  height: 10px
  background-image: url('../img/icons.png')
  background-position: -527px -316px
.icon-top-b
  width: 11px
  height: 30px
  background-image: url('../img/icons.png')
  background-position: -514px -273px
.icon-top-w
  width: 11px
  height: 30px
  background-image: url('../img/icons.png')
  background-position: -499px -273px
.icon-tw
  width: 19px
  height: 16px
  background-image: url('../img/icons.png')
  background-position: -582px -273px
